<h1><%= @article.title %></h1>
<h4><%= @article.id %></h4>
<p><%= @article.body %></p>
<br>
<%= link_to "<< Back to Articles List", articles_path %>
<br>
<br>
<%= link_to "edit", edit_article_path(@article) %>

<br>
<br>
<%= link_to "Delete >>", article_path(@article), method: :delete , data: {confirm: "Really delete the article?"}
 %>